body {
    background: #101010;
    color: #e6ffe6;
    letter-spacing: 0.4px;
}

/* i wanted the other titles different from create_pots.html */
.gl_h1, .pr_h1, .in_h1, .re_h1, .lo_h1 {
    color: #ddeadb;
    border-bottom: 3.5px solid #39ff14;
    margin-bottom: 25px;
    padding-bottom: 10px;
    box-shadow: 0 0 10px rgba(57, 255, 20, 0.7);
}

.formm {
    max-width: 700px;
    margin: 50px auto;
    padding: 30px;
    background-color: #2c2c2c;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 255, 0, 0.2);
    backdrop-filter: blur(2px);
    color: #fff;
}

.formm label {
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    color: #bfff00;
}

.formm input, 
.formm textarea {
    outline: none;
    width: 90%;
    max-width: 600px;
    border-color: #39ff14;
    padding: 10px;
    color: #fff;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 8px #39ff14;
    background-color: #2e2e2e;
}

.formm input::placeholder,
.formm textarea::placeholder {
    color: #cfffaa;
    text-align: center;
} 

.formm h1 {
    text-align: center;
    color: #cfffaa;
    margin-bottom: 30px;
}

.formm button {
    align-self: center;
    background-color: #111;
    width: 40%;
    color: #cfffaa;
    border: 1px solid #39ff14;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 8px #bfff00;
}

.formm button:hover {
    background-color: #ff1414;
    color: #000;
    box-shadow: 0 0 15px #86d04d;
}

.card-title, .card-text, #nav-link {
    color: #ddeadb;
    text-decoration: none;
}

/*for images in homepage*/
.card-img-top {
    max-width: 100%;
    max-height: 300px;
    border: 2px solid #39ff14;
    border-radius: 8px;
    object-fit: cover;
    display: block;
    margin: 10px auto;
}


/*for images in seperate post pages*/
.post-card-img {
    width: 100%;          
    max-height: 400px; 
    object-fit: contain; 
    border: 2px solid #39ff14;
    border-radius: 8px;
    display: block;
    margin-bottom: 15px;
}


.card.h-100 {
    
    box-shadow: 0 0 5px #39ff14, 0 0 7px #39ff14, 0 0 8px #39ff14;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card.h-100:hover {
    border: 3px solid #39ff14;
    transform: translateY(-5px);
    box-shadow: 0 0 6px #39ff14 0 0 10px #39ff14, 0 0 12px #39ff14;
}