{% extends "layout.html" %}

{% block body %}
<h1 class="gl_h1">add "{{ post.title }}" to a case </h1>
<!--users add posts to their cases -->
<form method="post">
    {% csrf_token %}
    <label>Select a case</label>
    <select name="case_id">
        {% for case in user_cases %}
        <option value="{{ case.id }}">{{ case.title }}</option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-outline-success">add to case</button>
</form>


<!--if the user has no cases they can create it from here as well-->
<h4>create a case if you dont have one</h4>
<form method="post" class="formm" action="{% url 'create_case' %}">
    {% csrf_token %}
    <input type="text" required name="title" placeholder="title">
    <textarea id="body" required name="notes" placeholder="start typing"></textarea>
    <label for="public">make this case public?</label>
    <input type="checkbox"  name="is_public" id="public" checked >
  <br>
  <button type="submit" class="case_btn">Create Case</button>
</form>

{% endblock %}