{% extends "layout.html" %}

{% block body %}
<h1 class="gl_h1">Detective Board</h1>

<!--saving positions of the notes using hidden form-->
<form method="post" id="form">
    {% csrf_token %}
    <input type="hidden" name="positions" id="positions">
    <button class="case_btn">Save note position</button>
</form>


<!--using div as a board-->
<div class="board">
    {% for note in notes %}
    <div class="note {{ note.note_type }}" data-id="{{ note.id }}" 
    data-top="{{ note.top|default:100 }}"
    data-left="{{ note.left|default:100 }}">
        <h5>{{ note.title }}</h5>
        <p>{{ note.text }}</p>
        <button class="delete-btn" id="btn_b">delete</button>
    </div>
    {% endfor %}
</div>

<!--usin a div for notes as well-->


<!--new notes-->
<form method="post" class="formm">
    {% csrf_token %}
    <h3>Add a note</h3>
    <br>
    <input type="text" name="noteTitle" placeholder="title" required>
    <input type="text" name="noteText" placeholder="info">
    <!--coloring the notes-->
    <select name="noteType">
        <option value="clue">clue</option>
        <option value="idea">idea</option>
        <option value="evidence">evidence</option>
        <option value="suspect">suspect</option>
    </select>
    <button class="case_btn" type="submit">add note</button>
</form>



{% endblock %}
