{% extends "layout.html" %}

{% block body %}
<h1 class="gl_h1"># {{ case.title }} </h1>

<!--bootstrap card with my own changes and code-->
<div class="card mb-3"  style="background-color:#212020; color:#ddeadb;">
  <div class="card-body">
    {% if case.is_public %}
      <p class="card-text"><span style="color: #39ff14;"># Public</span>
      {% else %}
      <span style="color:#ff1414"># private</span>
    {% endif %}</p>
    
    <p class="card-text"># By:  {{ case.author.username }}</p>
    <p class="card-text"># Case: {{ case.notes|linebreaks }}</p>
  </div>
</div>

<!--showing the post that is attached to this case and letting the users go to that post to view it better as well -->
<h3 class="gl_h1">posts as evidence </h3>
{% for ev in evidence_posts %}
<div class="card text-white bg-dark mb-3 w-75 mx-auto">
    <div class="card-body">
        
        <br>
        <h4 class="card-title">{{ ev.post.title }}</h4>
        <p class="card-text">{{ ev.post.body|truncatechars:100 }}</p>
        <p class="card-text">by: <strong>"{{ ev.post.author.username }}"</strong> in <strong>"{{ ev.post.country }}"</strong> specifically in <strong>"{{ ev.post.city }}"</strong></p>
        <a href="{% url 'view_post' ev.post.id %}" class="btn btn-outline-success">view post</a>
        <br>
        <small style="font-family: sans-serif;">Added on {{ ev.added_at }}</small>
    </div>
</div>
{% empty %}
<p>no evidence added yet</p>
{% endfor %}

{% endblock %}



