{% extends "layout.html" %}
{% block body %}

<h2 class="gl_h1">Register</h2>

<!-- Display errors -->
{% if errors %}
<div role="alert" class="alert alert-danger" style="white-space: normal; word-break: break-word;">
    <ul>
        {% for e in errors %}
        <li>{{ e }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="usr">Username</label>
        <input name="username" required type="text" class="form-control w-50" id="usr" placeholder="Username"
               value="{{ username|default:'' }}">
    </div>
    <br>
    <div class="form-group">
        <label for="em">Email</label>
        <input required type="email" name="email" class="form-control w-50" id="em" placeholder="example@email.com"
               value="{{ email|default:'' }}">
    </div>
    <br>
    <div class="form-group">
        <label for="pas">Password</label>
        <input required name="password" type="password" class="form-control w-50" id="pas" placeholder="Password">
    </div>
    <br>
    <button type="submit" class="btn btn-outline-success">Register</button>
</form>

{% endblock %}
